<form class="m-5" action="/answer" data-turbo="false">
  <input class="btn border border-dark" type="text" name="question" placeholder="Say something...">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
